.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p + h2 {
  margin-top: 40px;
} /*Assim eu falo apenas com todo h2 que vem depois de um p*/

.termos p {
  max-width: 85ch;
  margin-bottom: 24px;
}